@import './reset.css';
@import './base.css';

.form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.form-input {
  margin-right: 8px;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #2e2f42;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #808080;
  transition: border-color 250ms ease-in-out;
}

.form-input:hover,
.form-input:focus {
  border-color: #000000;
}

.form-input:not(:placeholder-shown) {
  border-color: #111111;
}

.form-button {
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  border: transparent;
  border-radius: 8px;
  background-color: #555555;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #ffffff;
  transition: background-color 250ms ease-in-out;
}

.form-button:hover,
.form-button:focus {
  background-color: #777777;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}

.gallery-container {
  flex-basis: calc((100% - 2 * 24px) / 3);
  padding-bottom: 4px;
  border: 1px solid #808080;
}

.gallery-img {
  width: 100%;
  height: 286px;
  margin-bottom: 4px;
}

.gallery-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gallery-name {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2e2f42;
}

.gallery-value {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.48px;
  color: #2e2f42;
}

.custom-error-toast {
  width: 432px !important;
  padding: 20px !important;
  min-height: 88px !important;
  background-color: #ef4040 !important;
  border-radius: 4px !important;
}

.custom-error-toast .iziToast-message {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #fafafb !important;
}

.custom-error-toast .iziToast-progressbar {
  background-color: #ffbebe !important;
}

.custom-error-toast .iziToast-progressbar>div {
  background-color: #b51b1b !important;
}

.custom-error-toast .iziToast-close {
  cursor: pointer !important;
  position: absolute !important;
  top: 50% !important;
  right: 12px !important;
  transform: translateY(-50%) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1 !important;
}

.custom-error-toast .iziToast-close::after {
  content: '' !important;
  display: block !important;
  width: 20px !important;
  height: 20px !important;
  background: url('../img/arrow_right.svg') no-repeat center center !important;
  background-size: contain !important;
}

.iziToast>.iziToast-body {
  margin: 0 !important;
}

.btn-loading {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  border-color: transparent;
  border-radius: 8px;
  background-color: #555555;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #ffffff;

  transition: background-color 250ms ease-in-out;
}

.btn-loading:hover,
.btn-loading:focus {
  background-color: #777777;
}